* {
    padding: 0px;
 }
 
 body {
     /* background-color: rgba(226, 223, 223, 0.637); */
     background-attachment: fixed;
 }
 
 h1, h5 {
    color: rgb(131, 79, 11);
    font-weight: bolder;
 }
 
 #landingPage {
     text-align: right;
     background-color: rgba(0, 0, 0, 0.363);
     background-position: center ;
     background-repeat: no-repeat;
     background-size: cover; 
     height: 200px;
     box-shadow: 5px 5px 5px black;
 }
 div header nav{
     background-color: rgb(131, 79, 11);
 }

 a li{
     padding: 5px;
     text-align: center;
     list-style: none;
     box-shadow: 2px 2px 2px gray,
                 inset 2px 2px 5px rgb(70, 34, 230);
     
 }
 

 button { 
     background-color: rgb(131, 79, 11);
     color: bisque;
     width: 150px;
 }
 div.container-fluid{
     background-size: cover;
     background-attachment: fixed;
 
 }
 
 /* div.container {
     padding: none;
     /* background-color: rgb(252, 250, 248); 
 } */
 .img-circle{
     border: 1px;
     width: 150px;
     height: 190px;
     float: left;
     box-shadow: 5px 2px 2px black;
 }
 
 .myHero{
     height: 400px;
     background-image: url('../../assets/interior2.jpg');
     background-size: 1200px;
     background-position: bottom;
     background-attachment: fixed;
     margin: 0;
     flex: 1;
 }
 
 .myCard{
     height: 150px;
 }
 
 .textInHero{
     color: white;
     align-items: center;
     justify-content: center;
 }